parameters:
    ignoreErrors:
     - "/Parameter #1 $directory of function chdir expects string, string|false given./"
includes:
   - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon